.List{
    position : relative;
    
}
.item-margin
{
    padding-top : 20px;
}
.header
{ 
  text-align: center;
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left : 250px;
  padding-top : 300px;
  padding-right: 200px;
}
.select-date{
    float: left;
}
.left-button{

    float: left;
}
.right-button{
    

    float: right;
    

}